<h2>トピックス一覧</h2>

<% @topics.each do |topic| %>
  <h4>タイトル</h4>
  <%= link_to topic.title, topic_path(topic) %>
  <h4>内容</h4>
  <%= topic.body %>
  <h4>ジャンル名</h4>
  <%= topic.genre.name %>

<% end %>
