<h1>index</h1>

<%= link_to "新規作成", new_diary_path %>

<% @diaries.each do |diary| %>
  <p>メモ</p>
  <!-- (diary)でeach文のdiaryオブジェクトを指定 -->
  <span><%= link_to diary.remark, diary_path(diary) %></span>

  <p>活動量</p>
  <span><%= diary.activity_status %></span>

  <p>タグ</p>
  <%= render "diaries/tag_list", tag_list: diary.tag_list %>

<% end %>
