<div class="main container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 congfirm center">
      <h3>本当に退会しますか？</h3>
      <p>退会すると、取得ポイントや<br>
        これまでの投稿が削除されます。<br>
        退会する場合は、「退会する」をクリックしてください。</p>
      <%=link_to "退会しない", user_path(@user), class: "btn btn-success" %>
      <%=link_to "退会する", user_path(@user),method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
