<div class="main container">
  <div class="icon">
	    <div class="col-xs-3">
        <%= select_tag("sort", options_for_select({登録日時の新しい順: "new", ポイント数の多い順: "point", 日記投稿数の多い順: "diary", フォロワーの多い順:   "follower"}), include_blank: "並び替え", class: "form-control")%>
      </div>
    <%= link_to new_diary_path do %>
      <i class="fas fa-plus-circle fa-4x"></i>
    <% end %>
  </div>
  <%= render 'users/index', users: @users %>
</div>