<div class="main container">
  <div class="row">
    <div class="col-xs-12 about center">
      <h1>e-dietについて</h1>
        <h3>ダイエットを決意するも失敗した経験はないでしょうか。<br>
        もしくは、続かずにやめてしまったり結果が出ずに<br>
        落ち込んだ経験は無いでしょうか。</h3>
      <h2 class="topic-title">ダイエットが続く５つの特徴</h2>
        <i class="fas fa-user-friends fa-3x"></i>
        <h3>ユーザー参加型ダイエットサイト</h3>
          <h4 class="topic">当サイトの最大の特徴は、<span class="marker_yellow">様々なユーザーと繋がり励まし合うことが出来る</span>ことです！<br>
          フォロー機能、コメント機能を通して同じ目標の人と繋がり励まし合いましょう！</h4>
        <i class="fas fa-chart-line fa-4x"></i>
        <h3>グラフで確認出来る体重管理機能</h3>
          <h4 class="topic">ダイエットを成功させるコツは、日々の変化を記録し進捗を把握することです！<br>
          <span class="marker_yellow">折れ線グラフで体重の変化が長期的にわかる</span>ので日々の結果に一喜一憂せずに<br>
          続けることが可能です！</h4>
        <i class="fas fa-hamburger fa-3x"></i>
        <h3>公開型の食事記録機能</h3>
          <h4 class="topic">日記の中に<span class="marker_yellow">１日の食事の記録を残すことが可能</span>です。<br>
            また食事の画像を登録することで、一目で何をどれだけ食べたのか確認できます。<br>
          みんなが何を食べてダイエットしているのかも参考にできます！</h4>
        <i class="fas fa-medal fa-3x"></i>
        <h3>参加する毎に貯まるポイント制度</h3>
          <h4>当サイトでは、下記のタイミングでポイントが獲得できます！<br>
            ポイントに応じてランクがシルバーランク、ゴールドランクにUPします！<br>
            <span class="marker_yellow">ポイントを貯めることでダイエットのモチベーションを維持</span>しよう！</h4>
            <h4>・新規登録ポイント：30ポイント</h4>
            <h4>・ログインポイント(1日1回)：5ポイント</h4>
            <h4>・日記投稿ポイント：10ポイント</h4>
            <h4>・フォローポイント：10ポイント</h4>
            <h4 class="topic">・目標達成ポイント：50ポイント</h4>
        <i class="fas fa-exclamation fa-3x"></i>
        <h3>様々な情報が配信されるトピックス</h3>
          <h4 class="topic">ダイエットや栄養、運動などの様々なジャンルの情報が配信されるので<br>
          <span class="marker_yellow">新しいダイエット法や知識を得られる</span>かもしれません！</h4>
    </div>
  </div>
</div>
