<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div cass="test-user">
  <%= f.hidden_field :name, value: "taro" %>
  <%= f.hidden_field :password, value: "111111" %>
  <%= f.submit "テストログイン", class: "btn btn-success btn-sm" %>
</div>
<% end %>
