<h1>index</h1>

<% @diaries.each do |diary| %>
  <p>メモ</p>
  <span><%= link_to diary.remark, admins_diary_path(diary) %></span>

  <p>活動量</p>
  <span><%= diary.activity_status %></span>

  <p>タグ</p>
  <%= render "diaries/tag_list", tag_list: diary.tag_list %>

<% end %>
