<!-- エラーメッセージ の部分テンプレート -->
<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <!-- 全てのエラーをeachによって配列で取得し表示 -->
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
